<!DOCTYPE html>
<html>
	<head>
	    <link rel='stylesheet' href='/stylesheets/style.css' />
	    
	</head>
   	<body>
   	  <h1>Choose a post to delete</h1>
   	  <p>List of Posts:</p>
		<ul>
		    <% for(var i = 0; i < postName.length; i++){ %>
		    	<li>ID: <%= postId[i] %> &nbsp;  Title: <%= postName[i] %></li>
		    <% } %>
		</ul>
		<form action="" method="post" enctype="multipart/form-data">
         <fieldset>
         	<label for="postId">ID</label>
         	<input type="text" id="postId" name="postId"/>
         	<br />
            <input type="submit" value="Delete" />
         </fieldset>
      </form>
   	</body>
</html>