<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button><a href="/newPost">New Post</a></button>
    <button><a href="/editPost">Edit Post</a></button>
    <button><a href="/deletePost">Delete Post</a></button>
    <button><a href="/tag">List Post by Tag</a></button>
    
  </body>
</html>