<!DOCTYPE html>
<html>
	<head>
	    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
   	<body>
   	  <h1>List posts by tag</h1>
      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label for="tag">Tag:</label>
            <input type="text" id="tag" name="tag"/>
            <br />
            <input type="submit" value="Search" />
         </fieldset>
      </form>
   	</body>
</html>