<!DOCTYPE html>
<html>
	<head>
	    <link rel='stylesheet' href='/stylesheets/style.css' />	    
	</head>
   	<body>
   	  <h1>Posts Found:</h1>
		<ul>
		    <% for(var i = 0; i < title.length; i++){ %>
		    	<% if(title[i] != null){ %>
		    	<li>Title: <%= title[i] %></li>
		    	<p>&nbsp; <%= content[i] %></p>
		    	<% } %>
		    <% } %>
		</ul>

   	</body>
</html>